<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/lib.css">
    <link rel="stylesheet" href="/stylesheets/Dev1.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <style>
        body {
            background-image: url(/images/undraw_Interview_re_e5jn.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover
        }
    </style>
</head>
<body>
    <nav class="navbar ta-top">
        <div class="container-fluid px-30">
            <div class="navbar-header">
                <h1 style="margin: 0">
                    <a class="navbar-brand" href="/" style="text-decoration: none;">
                        <img src="/images/curriculum-vitae.png" class="navbar-brand-icon" alt="Xây dựng một CV hoàn hảo" title="Xây dựng một CV hoàn hảo" class = "navbar-brand-icon">
                        <span class="navbar-brand-text">Build <span>CV.</span> 
                    </a>
                </h1>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li class="navbar-left__item group">
                    <a href="/resume" style="text-decoration: none">
                        Tạo CV theo mẫu
                    </a>
                </li>
                <li class="navbar-left__item group">
                    <a href="/thu_vien_CV" style="text-decoration: none">
                        Thư viện CV theo ngành nghề
                    </a>
                </li>
                <li class="navbar-left__item group">
                    <a href="/huong_dan1" style="text-decoration: none">
                        Hướng dẫn viết CV theo ngành nghề
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-right__item">
                    <a class="btn btn-outline-primary" href="/dangnhap" style="text-decoration: none">Đăng nhập</a>
                </li>
                <li class="navbar-right__item">
                    <a class="btn btn-primary" href="/dangky" style="text-decoration: none">Đăng ký</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="wrap">
        <div class="container-resume">
            <div class="avatar">
             <img src="/images/undraw_Pic_profile_re_7g2h.png">
            </div>
            <div class="name">
                 <h1>Nguyen Van A</h1>
                 <div class="specialize">Developer</div>
                 <ul class="contact">
                     <li>
                         <span>P</span> 123456789
                     </li>
                     <li>
                         <span>E</span> ABC.dev@gmail.com
                     </li>
                     <li>
                         <span>W</span> abcdev.com
                     </li>
                 </ul>
            </div>
            <div class="info">
                 <ul>
                     <li>From <b>HCMC</b> - VietNam</li>
                     <li>01/01/0101</li>
                     <li>AAAA University</li>
                 </ul>
            </div>
            <div class="intro">
             <h2>MỤC TIÊU NGHỀ NGHIỆP</h2>
             Kỹ sư phần mềm với hơn 2 năm kinh nghiệm trong lĩnh vực phát triển phần mềm và ứng dụng thương mại. Mong muốn tham gia công ty [X] để xây dựng các giải pháp kinh doanh tiên tiến và sáng tạo cho nhóm khách hàng ấn tượng trong phạm vi toàn cầu của mình. Trong các vai trò trước đây, đã giảm 25% thời gian chết và đảm bảo 98% thời gian hoàn thành dự án đúng thời hạn. Đồng thời xác định và xử lý một nút thắt quy trình quan trọng giúp tăng hiệu quả mã hóa lên 35% khi được giải quyết.
            </div>
            <div class="experience">
             <h2>KINH NGHIỆM</h2>
     
             <div class="item">
                 <h4>Kỹ sư phần mềm</h4>
                 <div class="time">
                    <span>2020 - 2022</span>
                    <div>ABC D company</div>
                 </div>
             </div>
     
                 <div class="item">
                     <h4>Thực tập sinh kỹ sư phần mềm</h4>
                     <div class="time">
                        <span>08/2018 - 07/2020</span>
                        <div>ACDC University</div>
                     </div>
                 </div>
                 <h2 class="skills">
                     SKILLS
                 </h2>
                 <ul>
                     <li>HTML</li>
                     <li>CSS</li>
                     <li>Bootstrap</li>
                     <li>Javascript</li>
                     <li>PHP</li>
                     <li>MySql</li>
                     <li>Git</li>
                     <li>Laravel</li>
                 </ul>
     
            </div>
            <div class="project">
             <h2>PROJECTS</h2>
             <div class="item">
                 <h4>Project 1</h4>
                 <div class="time">
                     2018
                 </div>
                 <div class="web">
                     www.abcdev.com
                 </div>
                 <div class="location">
                     Frond-end Developer
                 </div>
                 <div class="des">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consequatur amet sed, est eum facilis repellendus 
                     atque perspiciatis iste porro nobis autem explicabo expedita fugiat nostrum. Eveniet eum autem culpa!
                     <ul>
                         <li>Lorem ipsum dolordolores.</li>
                         <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, dolores.</li>
                         <li>Lorem ipsum dolor sit amet consectetur dolores.</li>
                     </ul>
                 </div>
             </div>
     
             <div class="item">
                 <h4>Project 2</h4>
                 <div class="time">
                     2020
                 </div>
                 <div class="web">
                     www.webcv.com
                 </div>
                 <div class="location">
                     Frond-end Developer
                 </div>
                 <div class="des">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consequatur amet sed, est eum facilis repellendus 
                     atque perspiciatis iste porro nobis autem explicabo expedita fugiat nostrum. Eveniet eum autem culpa!
                     <ul>
                         <li>Lorem ipsum dolordolores.</li>
                         <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, dolores.</li>
                         <li>Lorem ipsum dolor sit amet consectetur dolores.</li>
                     </ul>
                 </div>
             </div>
     
             <div class="item">
                 <h4>Project 3</h4>
                 <div class="time">
                     2022
                 </div>
                 <div class="web">
                     www.fotbal.com
                 </div>
                 <div class="location">
                     Frond-end Developer
                 </div>
                 <div class="des">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consequatur amet sed, est eum facilis repellendus 
                     atque perspiciatis iste porro nobis autem explicabo expedita fugiat nostrum. Eveniet eum autem culpa!
                     <ul>
                         <li>Lorem ipsum dolordolores.</li>
                         <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, dolores.</li>
                         <li>Lorem ipsum dolor sit amet consectetur dolores.</li>
                     </ul>
                 </div>
             </div>
            </div>
         </div>
    </div>
    <a href="/menu_CV" style="text-decoration: none;"><div class="button" style="position: relative; top: -50px; left: 47%; width: fit-content;">Back to</div></a>
</body>
</html>