<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/forgot-password.css">
    <link rel="icon" href="/images/favicon.ico">
    
</head>
<body>
    <div class="auth">
        <div class="auth-inner">
            <div class="auth-form">
                <div class="header">
                    <h2 class="title forgot-password-title">Quên mật khẩu</h2>
                </div>
            <div class="forgot-password">
                <form action="#" method="" id="form-forgot">
                    <input type="hidden" name="_token" value="CoGutiZoVTH2tjGvRF1pwIDAieBp3MtutXJXAw1A">
                    <div class="form-group mb-24">
                        <label for="email" class="mb-8">Email</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                            </div>
                            <input type="email" name="email" class="form-control" placeholder="Nhập email" aria-label="Nhập email" value="">
                        </div>
                    </div>
                    <div class="form-group mb-24">
                        <button data-sitekey="6LfbkH4lAAAAAJ0pQKkudub91zp8nuziDAXr2Gqa" data-callback="onSubmit" data-action="submit" class="btn btn-sign input-block-level w-100 h-40 btn-primary-hover g-recaptcha">Tạo lại mật khẩu</button>
                    </div>
                    <div class="mb-24 d-flex justify-content-between option-auth">
                        <a class="text-success" href="/dangnhap">
                            Quay lại đăng nhập
                        </a>
                        <a class="text-success " href="/dangky">
                            Đăng ký tài khoản mới
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>