<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/lib.css">
    <link rel="icon" href="/images/favicon.ico">
    <title><%=title %></title>
    <style>
        body {
            background-image: url(/images/undraw_Interview_re_e5jn.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover
        }
    </style>
</head>

<body>
    <nav class="navbar ta-top">
        <div class="container-fluid px-30">
            <div class="navbar-header">
                <h1 style="margin: 0">
                    <a class="navbar-brand" href="/" style="text-decoration: none;">
                        <img src="/images/curriculum-vitae.png" class="navbar-brand-icon" alt="Xây dựng một CV hoàn hảo" title="Xây dựng một CV hoàn hảo" class = "navbar-brand-icon">
                        <span class="navbar-brand-text">Build <span>CV.</span> 
                    </a>
                </h1>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li class="navbar-left__item group">
                    <a href="/resume" style="text-decoration: none">
                        Tạo CV theo mẫu
                    </a>
                </li>
                <li class="navbar-left__item group">
                    <a href="/thu_vien_CV" style="text-decoration: none">
                        Thư viện CV theo ngành nghề
                    </a>
                </li>
                <li class="navbar-left__item group">
                    <a href="/huong_dan1" style="text-decoration: none">
                        Hướng dẫn viết CV theo ngành nghề
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-right__item">
                    <a class="btn btn-outline-primary" href="/dangnhap" style="text-decoration: none">Đăng nhập</a>
                </li>
                <li class="navbar-right__item">
                    <a class="btn btn-primary" href="/dangky" style="text-decoration: none">Đăng ký</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 style="text-align: center; font-family: Oswald; margin-top: 100px;">Thư viện CV</h1>
    <div class="box1">
        <div class="grid-container">
            <div class="grid-item">
                <img src="images/undraw_Programming_re_kg9v.png" height="150px">
                <div style="text-align: center; font-family: Oswald; font-size: 25px;"> Developer</div>
                <a href="/menu_CV" style="text-decoration: none;">
                    <div class="button">See more</div>
                </a>
            </div>
            <div class="grid-item">
                <img src="images/undraw_Doctors_p6aq.png" height="150px">
                <div style="text-align: center; font-family: Oswald; font-size: 25px;"> Doctor</div>
                <a href="" style="text-decoration: none;">
                    <div class="button">See more</div>
                </a>
            </div>
            <div class="grid-item">
                <img src="/images/undraw_Educator_re_ju47.png" height="150px">
                <div style="text-align: center; font-family: Oswald; font-size: 25px;"> Teacher</div>
                <a href="" style="text-decoration: none;">
                    <div class="button">See more</div>
                </a>
            </div>   
        </div>
    </div>
</body>
</html>
