.box_header {
    display: flex;
    position: relative;
    text-align: left;
    top: 150px;
    left: 200px;
}

.box_content{
    display: flex;
    position: relative;
    top: 220px;
    left: 200px;
    scale: 90%;
    display: flex;
}

.box_link{
    margin-left: 25px;
    width: fit-content;
    background: #fff;
    overflow: hidden;
    padding: 15px;
    background-color: rgb(128, 128, 128,0.2);
}

.box_list{
    height: fit-content;
    background-color: #6C63FF;
}

.list{
    padding: 10px;
    background-color: white;
}

  