.khung{
    display: flex;
}

.khung-trai{
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 30px;
    
    width: 500px;
    font-size: 30px;
    font-weight:bold;
    text-align: right;
}

.khung-phai{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid black;
    width: 70%;
    background-color: rgb(255, 255, 189);
    
}

.image{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
}

.image img{
    height: 250px;
    width: 250px;
    border-radius: 50%;

}

.phu_luc{
    padding-left: 200px;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
}

.name{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}



#table_info{
    margin: 30px;
}

.th_content{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.header-text-first{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-size: 20px;
}

.header-text-last{
    color: red;
    font-weight: 700;
}

.header-text-icon{
    font-size: 30px;
    text-align: center;
}


.icon a{
    font-size: 40px;
    color: black
}

